/*Selector  de ID #*/


/*Selector  de CLASS . */


header{
	display: flex;
	flex-wrap: wrap;
	background:#0F0D54;
	height: 100px;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 100%;

}

.logo-contenedor img{

	padding-left: 60px;
}

.menu-header{

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 60px;
	align-items: center;

}

.menu-header a {

	text-decoration-line: none;
	margin-right: 15px;
	color: white;
	
}

.menu-btn{

    background:#FF9A17 ;
	color: white;
	padding: 10px;
	border-radius: 2px;
	text-decoration-line: none;

}

.contenedor-principal{

	display: flex;
	justify-content:center;
	text-align: center;
	flex-wrap: wrap;
}

.articulo{

	display: flex;
	justify-content: space-around;
    flex-direction: column;
	padding: 5px;
	text-align: center;
	margin-top: 50px;
	margin-right: 10px;
	box-shadow: 0 0 10px;


}

.article-info-titulo{
	font-size: 21px;
	

}
.article-info-extra{

	display: flex;
	justify-content: center;
	color: ;
	margin-bottom: 6px;

}

.article-info-autor{
	margin-right: 4px;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 34px;
	color: white;

	background: #0F0D54;
	height: 30px;
}

.footer div{
	display: flex;
	justify-content: flex-start;


}

@media screen and (max-width: 480px) {
  
  header {
    flex-direction: column;
    justify-content: center;

    height: 250px;

  }

 

  header .menu-header {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

 

  header .menu-header a {
    margin: 12px 0 12px 0;

  }


 

  header .logo-contenedor {
    margin-left: 0;
    display: none;
  }
 

  .contenedor{
    margin-left: 0;
  }

 


}

/*Estilos2 . */

.header2{
	display: flex;
	flex-wrap: wrap;
	background: black;
	height: 100px;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 100%;
}

.logo-contenedor2 img{

	padding-left: 60px;
}

.menu-header2{

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 60px;
	align-items: center;

}

.menu-header2 a {

	text-decoration-line: none;
	margin-right: 15px;
	color: white;
	
}

.menu-btn2{

    background:#FF9A17 ;
	color: white;
	padding: 10px;
	border-radius: 2px;
	text-decoration-line: none;

}

.contenedor-principal2{

	display: flex;
	justify-content:center;
	text-align: center;
	flex-wrap: wrap;
}

.articulo2{

	display: flex;
	justify-content: space-around;
    flex-direction: column;
	padding: 5px;
	text-align: center;
	margin-top: 50px;
	margin-right: 10px;
	box-shadow: 0 0 10px;
	flex-wrap: wrap;



}

.article-info-titulo2{

	font-size: 21px;
	

}
.article-info-extra2{

	display: flex;
	justify-content: center;
	color: ;
	margin-bottom: 6px;

}

.footer2{

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 34px;
	color: white;
	background: black;
	height: 30px;
}

@media screen and (max-width: 480px) {
  
  .header2 {
    flex-direction: column;
    justify-content: center;

    height: 270px;
    

  }

 

  header .menu-header2 {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

 

  header .menu-header2 a {
    margin: 12px 0 12px 0;

  }


 

  header .logo-contenedor2 {
    margin-left: 0;
    display: none;
  }
 

  .contenedor2{
    margin-left: 0;
  }

 


}

/*Estilos3 . */

.header3{

	display: flex;
	background:#0F0D54;
	height: 100px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 12px;
	

}

.header3 a{

	font-size: 50px;
	text-decoration: none;
	color: white;

}

.boton{

	background: #0F0D54 ;
	color:white;
	font-size: 24px;
	border-color: #f5f5f5;
	border-radius: 8px;
	padding: 10px;
	


}

.contenedor-principal3{
   
	display: flex;
	justify-content:space-around;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 100px;
	padding-top: 100px;


}

.footer3{

	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
    margin-top: 12px;
	background: #0F0D54;
	height: 30px;
}




/*
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
	-------------------------------
	.banner{

	background: #0F0D54;
	display: flex;
	height: 100px;
	margin:0;
	flex-wrap: wrap;

}

*{
	border:1px solid green;
}
.logo-contenedor {

	margin-top: 20px;
	margin-left: 60px;
    display: inline-block;
	
}

.menu-header{

	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.menu-btn{

    background:#FF9A17 ;
	color: white;
	padding: 6px;
	border-radius: 2px;
	text-decoration-line: none;

}

.menu-header a {
	text-decoration-line: none;
	padding-top: 7px;
	margin-left: 15px;
	margin-right: 15px;
	color: white;
}
-----------------------------	

.imagen img{

	margin-left: 20px;

}

.article-info-titulo{

	margin-left: -110px;

	text-align: center;
}

.article-info-extra{

	text-align: center;

	margin-left: -110px;
}




 */



/*

*{
	border:1px solid green;
}

 */

